body {
    background: #E5E5E5;
    width: 100%;
}
header {
position: fixed;
width: 100%;
height: 80px;
left: 0px;
top: 0px;

background: #ffffff;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
.icon {
    width: 40px;
    position: absolute;
left: 310px;
right: 24px;
top: 24px;
bottom: 25px;
background-color: #ffffff;
}
.logo {
    position: absolute;
    width: 75px;
    height: 53px;
    left: 22px;
    top: 16px;
    
    
}
/*Configurações do main*/
main p {
    font-size: 18px;
    margin-left: 3px;
}
.mensagensrecebidas1 {
 
width: 100%;
height: 40px;
left: 0px;
top: 106px;
display: flex;

background: #DCDCDC;
box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
border-radius: 2px;
}
.mensagensrecebidas2 {
    
    width: 100%;
    height: 40px;
    left: 0px;
    top: 150px;
    display: flex;
    background: #FFDEDE;;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}
.mensagensrecebidas3 {

    
    width: 100%;
    height: 40px;
    left: 0px;
    top: 194px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
}
.hora {
    color: grey;
}
.quemEscreveu {
color: #000000;
margin-right: 2px;
}
.para {

}
.edit {
    margin-right: 5px;
}

.cinza {
    background: #DCDCDC;
}
.branco {
    background: #FFFFFF;
}
.rosa {
    background: #FFDEDE;
}
/*configurações do footer*/

footer {
position: fixed;
width: 100%;
height: 80px;
left: 0px;
bottom: 0px;

background: #FFFFFF;
box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
footer input[type=text]{
    width: 100%;
    height: 30px;    
    font-size: 18px;
    border:none;
    outline: none;
    margin-top: 24px;
}

footer input[type=text]::placeholder{
    color: #000000;
    font-style: italic;
}

.arrow {
    position: absolute;
    width: 26px;
    height: 26px;
    left:331px;
    top: 25px;
    bottom: 25px;
    background-color: #ffffff;
}